# This notebook calculates the following metrics sourced from CAL-FIRE's historical Redbooks
* number of damaged/destroyed buildings per county per year from wildfire
* number of fatalities per county per year from wildfire

In [1]:
import pandas as pd
import os
import sys
import math
import geopandas as gpd

# suppress pandas purely educational warnings
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

sys.path.append(os.path.expanduser('../../'))
from scripts.utils.file_helpers import pull_csv_from_directory, upload_csv_aws, filter_counties
from scripts.utils.write_metadata import append_metadata

In [2]:
# pull csv from aws
bucket_name = 'ca-climate-index'
aws_dir = '1_pull_data/climate_risk/wildfire/loss/historical/calfire_redbooks/cleaned_stitched_calfire_redbook_data/'
folder = 'csv_folder'

pull_csv_from_directory(bucket_name, aws_dir, folder, search_zipped=False)

Saved DataFrame as 'csv_folder\calfire_redbooks_cleaned.csv'

In [3]:
# read in air quality data (already for state of CA)
wildfire_loss = pd.read_csv(r'csv_folder/calfire_redbooks_cleaned.csv')
print(len(wildfire_loss))
wildfire_loss.head(5)
#os.remove('calfire_redbooks_cleaned.csv')

1005

,incident_number,county/unit,fire_name,date_start,date_controlled,direct_protection_agency,total_burned_acres,veg_type,cause,destroyed_structures,damaged_structures,firefighter_fatalities,civil_fatalities
0,NaN,San Bernardino,Bluff,3/16/2008,3/20/2008,CALFIRE,680,"Brush, Grass",Campfire,NaN,0,0.0,0.0
1,NaN,Tehama-Glenn,Colyear,5/6/2008,5/9/2008,CALFIRE,"1,331",Brush,Debris,NaN,0,0.0,0.0
2,NaN,Fresno-Kings,Avocado,5/20/2008,5/21/2008,CALFIRE,"1,100",Grass,Equipment Use,NaN,0,0.0,0.0
3,NaN,Fresno-Kings,Gatos,5/22/2008,5/22/2008,CALFIRE,331,Grass,Miscellaneous,NaN,0,0.0,0.0
4,NaN,Santa Clara,Summit,5/22/2008,6/15/2008,CALFIRE,"4,270",Timber,Unidentified,NaN,91,0.0,0.0

#### The dataset has inconsistent date formats and capitalization
* we adjust the dating formats and create a new year column
* we bring all entries to lower case
* all nan's are treated as 0

In [4]:
# Replace NaN values with 0
wildfire_loss.fillna(0, inplace=True)

# Convert 'date_start' column to datetime
wildfire_loss['date_start'] = pd.to_datetime(wildfire_loss['date_start'], format='mixed', dayfirst=True)

# Format datetime to mm/dd/yyyy
wildfire_loss['date_start'] = wildfire_loss['date_start'].dt.strftime('%m/%d/%Y')

# Assuming wildfire_loss is your DataFrame
wildfire_loss['date_start'] = pd.to_datetime(wildfire_loss['date_start'], format='%m/%d/%Y', errors='coerce')

# Extract year from the 'date_start' column and create a new 'year' column
wildfire_loss['year'] = wildfire_loss['date_start'].dt.year.astype(int)

# Ensure all entries within county column are lower case
wildfire_loss['county/unit'] = wildfire_loss['county/unit'].str.lower()

wildfire_loss

,incident_number,county/unit,fire_name,date_start,date_controlled,direct_protection_agency,total_burned_acres,veg_type,cause,destroyed_structures,damaged_structures,firefighter_fatalities,civil_fatalities,year
0,0,san bernardino,Bluff,2008-03-16,3/20/2008,CALFIRE,680,"Brush, Grass",Campfire,0,0,0.0,0.0,2008
1,0,tehama-glenn,Colyear,2008-06-05,5/9/2008,CALFIRE,"1,331",Brush,Debris,0,0,0.0,0.0,2008
2,0,fresno-kings,Avocado,2008-05-20,5/21/2008,CALFIRE,"1,100",Grass,Equipment Use,0,0,0.0,0.0,2008
3,0,fresno-kings,Gatos,2008-05-22,5/22/2008,CALFIRE,331,Grass,Miscellaneous,0,0,0.0,0.0,2008
4,0,santa clara,Summit,2008-05-22,6/15/2008,CALFIRE,"4,270",Timber,Unidentified,0,91,0.0,0.0,2008
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1000,LPF3161,monterey,COLEMAN,2020-10-18,11/15/20,USFS,574,"B, G",UNDETERMINED,0,0,0.0,0.0,2020
1001,NOD-6431,lassen,LAURA 2,2020-11-17,11/23/20,BLM,"2,800","B, G",UNDETERMINED,42,7,0.0,0.0,2020
1002,OVD-30860,mono,MOUNTAIN VIEW,2020-11-17,11/30/20,BLM,"20,385","B, G",UNDETERMINED,97,0,0.0,1.0,2020
1003,COR-12597,riverside,AIRPORT,2020-01-12,12/17/20,LOCAL,"1,087","B, G",UNDETERMINED,0,0,0.0,0.0,2020
1004,MVU-20846,san diego,CREEK 5,2020-12-23,12/28/20,MIL,"4,276","B, G",UNDETERMINED,0,0,0.0,0.0,2020

#### There are multiple entries that contain two or more counties

The code below duplicates rows that have a '-' OR ',' within the county column and assigns the original row the county preceeding the '-' or ',' while the duplicate takes on the second or third county name. 
The method below equally splits the destroyed/damaged structures and fatality values between the rows that had shared counties

In [5]:
# Initialize an empty list to store the modified rows
new_rows = []

# Iterate through each row in the DataFrame
for index, row in wildfire_loss.iterrows():
    county_unit = row['county/unit']
    
    # Check if the county/unit is a string
    if isinstance(county_unit, str):
        county_unit = county_unit.replace('\n', '')

        # Split the county/unit string by '-' or ',' or '/'
        if '-' in county_unit:
            county_units = county_unit.split('-')
        elif ',' in county_unit:
            county_units = county_unit.split(',')
        elif '/' in county_unit:
            county_units = county_unit.split('/')
            # Strip any whitespace around the county names
            county_units = [county.strip() for county in county_units]
        else:
            county_units = [county_unit]
        
        # Count the number of counties
        num_counties = len(county_units)
        
        # Convert values in the specified columns to integers or floats
        destroyed_structures = row['destroyed_structures']
        damaged_structures = row['damaged_structures']
        firefighter_fatalities = row['firefighter_fatalities']
        civil_fatalities = row['civil_fatalities']
        
        if isinstance(destroyed_structures, str):
            destroyed_structures = destroyed_structures.replace(',', '')
            if destroyed_structures.isdigit():
                destroyed_structures = int(destroyed_structures)
            else:
                destroyed_structures = 0
        
        if isinstance(damaged_structures, str):
            damaged_structures = damaged_structures.replace(',', '')
            if damaged_structures.isdigit():
                damaged_structures = int(damaged_structures)
            else:
                damaged_structures = 0
        
        if isinstance(firefighter_fatalities, str):
            firefighter_fatalities = firefighter_fatalities.replace(',', '')
            if firefighter_fatalities.isdigit():
                firefighter_fatalities = float(firefighter_fatalities)
            else:
                firefighter_fatalities = 0
        
        if isinstance(civil_fatalities, str):
            civil_fatalities = civil_fatalities.replace(',', '')
            if civil_fatalities.isdigit():
                civil_fatalities = float(civil_fatalities)
            else:
                civil_fatalities = 0
        
        if num_counties > 1:
            destroyed_structures = math.ceil(destroyed_structures / num_counties)
            damaged_structures = math.ceil(damaged_structures / num_counties)
            firefighter_fatalities = math.ceil(firefighter_fatalities / num_counties)
            civil_fatalities = math.ceil(civil_fatalities / num_counties)
        
        # Iterate through each county/unit part
        for county in county_units:
            # Create a new row for each county/unit part
            new_row = row.copy()
            new_row['county'] = county.strip()
            new_row['destroyed_structures'] = destroyed_structures
            new_row['damaged_structures'] = damaged_structures
            new_row['firefighter_fatalities'] = firefighter_fatalities
            new_row['civil_fatalities'] = civil_fatalities
            new_rows.append(new_row)
    else:
        # If the county/unit is not a string (e.g., NaN), handle it accordingly
        # For now, just append the original row to the new_rows list
        new_rows.append(row)

# Create a new DataFrame from the modified rows
cleaned_wildfire_loss = pd.DataFrame(new_rows)

# Define a dictionary mapping old values to new values
rename_map = {
    'mardera': 'madera',
    'tahema': 'tehama',
    'toulumne' : 'tuolumne',
     'tehema' : 'tehama',
     'tuolomne' : 'tuolumne'
    }
# deleting problematic row that will not split, only had one data field with a value of 1
cleaned_wildfire_loss = cleaned_wildfire_loss.drop(index=122)

# Use the replace method to rename the entries
cleaned_wildfire_loss['county'] = cleaned_wildfire_loss['county'].replace(rename_map)

#### Creating CRI metric columns by summing structure and fatality related data respectively

In [6]:
cleaned_wildfire_loss['damaged_destroyed_structures'] = cleaned_wildfire_loss['damaged_structures'] + cleaned_wildfire_loss['destroyed_structures']
cleaned_wildfire_loss['total_fatalities'] = cleaned_wildfire_loss['firefighter_fatalities'] + cleaned_wildfire_loss['civil_fatalities']
cleaned_wildfire_loss.head(5)

,incident_number,county/unit,fire_name,date_start,date_controlled,direct_protection_agency,total_burned_acres,veg_type,cause,destroyed_structures,damaged_structures,firefighter_fatalities,civil_fatalities,year,county,damaged_destroyed_structures,total_fatalities
0,0,san bernardino,Bluff,2008-03-16,3/20/2008,CALFIRE,680,"Brush, Grass",Campfire,0,0,0.0,0.0,2008,san bernardino,0,0.0
1,0,tehama-glenn,Colyear,2008-06-05,5/9/2008,CALFIRE,"1,331",Brush,Debris,0,0,0.0,0.0,2008,tehama,0,0.0
1,0,tehama-glenn,Colyear,2008-06-05,5/9/2008,CALFIRE,"1,331",Brush,Debris,0,0,0.0,0.0,2008,glenn,0,0.0
2,0,fresno-kings,Avocado,2008-05-20,5/21/2008,CALFIRE,"1,100",Grass,Equipment Use,0,0,0.0,0.0,2008,fresno,0,0.0
2,0,fresno-kings,Avocado,2008-05-20,5/21/2008,CALFIRE,"1,100",Grass,Equipment Use,0,0,0.0,0.0,2008,kings,0,0.0

#### Isolating relevant columns

In [7]:
isolated_cleaned_wildfire_loss = cleaned_wildfire_loss[['county', 'year', 'damaged_destroyed_structures', 'total_fatalities']]
isolated_cleaned_wildfire_loss, omitted_rows = filter_counties(isolated_cleaned_wildfire_loss, 'county', county_list=None)

In [8]:
omitted_rows

             county  year  damaged_destroyed_structures  total_fatalities
156             NaN  1970                             0               0.0
219  vandenburg afb  2009                             0               0.0
648          washoe  2017                             0               0.0
665    jackson (or)  2017                             0               0.0
674     washoe (nv)  2017                             0               0.0
971     washoe (nv)  2020                             1               0.0

In [9]:
isolated_cleaned_wildfire_loss

              county  year  damaged_destroyed_structures  total_fatalities
0     san bernardino  2008                             0               0.0
1             tehama  2008                             0               0.0
1              glenn  2008                             0               0.0
2             fresno  2008                             0               0.0
2              kings  2008                             0               0.0
...              ...   ...                           ...               ...
1000        monterey  2020                             0               0.0
1001          lassen  2020                            49               0.0
1002            mono  2020                            97               1.0
1003       riverside  2020                             0               0.0
1004       san diego  2020                             0               0.0

[1096 rows x 4 columns]

#### Grouping data by county and aggregate the structure and fatality data so we get total damaged structures and total fatalities per county from 2008-2020

In [10]:
cri_wildfire_loss = isolated_cleaned_wildfire_loss.groupby('county').agg({'damaged_destroyed_structures': 'sum', 'total_fatalities': 'sum'}).reset_index()
print(len(cri_wildfire_loss))
cri_wildfire_loss.head(5)

56

      county  damaged_destroyed_structures  total_fatalities
0    alameda                            54               0.0
1     alpine                             0               0.0
2     amador                           967               2.0
3      butte                         21634              93.0
4  calaveras                             9               0.0

In [11]:
cri_wildfire_loss['average_damaged_destroyed_structures'] = cri_wildfire_loss['damaged_destroyed_structures'] // 13
cri_wildfire_loss['average_fatalities'] = cri_wildfire_loss['total_fatalities'] // 13
cri_wildfire_loss.head(50)

,county,damaged_destroyed_structures,total_fatalities,average_damaged_destroyed_structures,average_fatalities
0,alameda,54,0.0,4,0.0
1,alpine,0,0.0,0,0.0
2,amador,967,2.0,74,0.0
3,butte,21634,93.0,1664,7.0
4,calaveras,9,0.0,0,0.0
5,colusa,99,0.0,7,0.0
6,contra costa,53,0.0,4,0.0
7,del norte,0,0.0,0,0.0
8,el dorado,130,0.0,10,0.0
9,fresno,492,1.0,37,0.0
10,glenn,91,4.0,7,0.0
11,humboldt,16,1.0,1,0.0
12,inyo,67,0.0,5,0.0
13,kern,621,3.0,47,0.0
14,kings,1,0.0,0,0.0
15,lake,3262,7.0,250,0.0
16,lassen,104,0.0,8,0.0
17,los angeles,1908,269.0,146,20.0
18,madera,645,1.0,49,0.0
19,marin,5,0.0,0,0.0
20,mariposa,218,3.0,16,0.0
21,mendocino,802,10.0,61,0.0
22,merced,44,0.0,3,0.0
23,modoc,24,1.0,1,0.0
24,mono,104,1.0,8,0.0
25,monterey,365,1.0,28,0.0
26,napa,8211,30.0,631,2.0
27,nevada,97,0.0,7,0.0
28,orange,210,0.0,16,0.0
29,placer,130,0.0,10,0.0
30,plumas,1290,8.0,99,0.0
31,riverside,544,2.0,41,0.0
32,sacramento,1,0.0,0,0.0
33,san benito,1,0.0,0,0.0
34,san bernardino,395,6.0,30,0.0
35,san diego,661,2.0,50,0.0
36,san joaquin,54,0.0,4,0.0
37,san luis obispo,143,0.0,11,0.0
38,san mateo,866,1.0,66,0.0
39,santa barbara,1140,3.0,87,0.0
40,santa clara,175,0.0,13,0.0
41,santa cruz,885,1.0,68,0.0
42,shasta,2533,17.0,194,1.0
43,sierra,35,0.0,2,0.0
44,siskiyou,527,6.0,40,0.0
45,solano,452,2.0,34,0.0
46,sonoma,3308,5.0,254,0.0
47,stanislaus,51,0.0,3,0.0
48,sutter,7,0.0,0,0.0
49,tehama,112,1.0,8,0.0

In [12]:
# checking the total county results by isolated to one county per year
fact_checking = isolated_cleaned_wildfire_loss.groupby(['county', 'year']).agg({'damaged_destroyed_structures': 'sum', 'total_fatalities': 'sum'}).reset_index()
desired_county_data = fact_checking[fact_checking['county'] == 'butte']
print(desired_county_data)

   county  year  damaged_destroyed_structures  total_fatalities
8   butte  2008                           511               0.0
9   butte  2010                             0               0.0
10  butte  2013                            68               0.0
11  butte  2014                             0               0.0
12  butte  2015                            16               0.0
13  butte  2016                             3               0.0
14  butte  2017                           239               0.0
15  butte  2018                         19558              85.0
16  butte  2019                             3               0.0
17  butte  2020                          1236               8.0

In [13]:
# read in CA census tiger file
ca_tract_county = "s3://ca-climate-index/0_map_data/ca_tracts_county.csv"
ca_tract_county = gpd.read_file(ca_tract_county)
ca_tract_county = ca_tract_county.drop(columns={'field_1', 'geometry', 'COUNTYFP'})
ca_tract_county = ca_tract_county.rename(columns={'TRACT':'USCB_GEOID', 'County':'county'})
ca_tract_county['county'] = ca_tract_county['county'].str.lower()

In [14]:
ca_tract_county

       USCB_GEOID        county
0     06085504321   santa clara
1     06085504410   santa clara
2     06085507003   santa clara
3     06085507004   santa clara
4     06085502204   santa clara
...           ...           ...
9124  06059001303        orange
9125  06059001304        orange
9126  06059001401        orange
9127  06013367200  contra costa
9128  06037578100   los angeles

[9129 rows x 2 columns]

In [15]:
cri_wildfire_loss

,county,damaged_destroyed_structures,total_fatalities,average_damaged_destroyed_structures,average_fatalities
0,alameda,54,0.0,4,0.0
1,alpine,0,0.0,0,0.0
2,amador,967,2.0,74,0.0
3,butte,21634,93.0,1664,7.0
4,calaveras,9,0.0,0,0.0
5,colusa,99,0.0,7,0.0
6,contra costa,53,0.0,4,0.0
7,del norte,0,0.0,0,0.0
8,el dorado,130,0.0,10,0.0
9,fresno,492,1.0,37,0.0
10,glenn,91,4.0,7,0.0
11,humboldt,16,1.0,1,0.0
12,inyo,67,0.0,5,0.0
13,kern,621,3.0,47,0.0
14,kings,1,0.0,0,0.0
15,lake,3262,7.0,250,0.0
16,lassen,104,0.0,8,0.0
17,los angeles,1908,269.0,146,20.0
18,madera,645,1.0,49,0.0
19,marin,5,0.0,0,0.0
20,mariposa,218,3.0,16,0.0
21,mendocino,802,10.0,61,0.0
22,merced,44,0.0,3,0.0
23,modoc,24,1.0,1,0.0
24,mono,104,1.0,8,0.0
25,monterey,365,1.0,28,0.0
26,napa,8211,30.0,631,2.0
27,nevada,97,0.0,7,0.0
28,orange,210,0.0,16,0.0
29,placer,130,0.0,10,0.0
30,plumas,1290,8.0,99,0.0
31,riverside,544,2.0,41,0.0
32,sacramento,1,0.0,0,0.0
33,san benito,1,0.0,0,0.0
34,san bernardino,395,6.0,30,0.0
35,san diego,661,2.0,50,0.0
36,san joaquin,54,0.0,4,0.0
37,san luis obispo,143,0.0,11,0.0
38,san mateo,866,1.0,66,0.0
39,santa barbara,1140,3.0,87,0.0
40,santa clara,175,0.0,13,0.0
41,santa cruz,885,1.0,68,0.0
42,shasta,2533,17.0,194,1.0
43,sierra,35,0.0,2,0.0
44,siskiyou,527,6.0,40,0.0
45,solano,452,2.0,34,0.0
46,sonoma,3308,5.0,254,0.0
47,stanislaus,51,0.0,3,0.0
48,sutter,7,0.0,0,0.0
49,tehama,112,1.0,8,0.0
50,trinity,228,11.0,17,0.0
51,tulare,255,0.0,19,0.0
52,tuolumne,262,0.0,20,0.0
53,ventura,2708,5.0,208,0.0
54,yolo,35,0.0,2,0.0
55,yuba,296,4.0,22,0.0

In [16]:
cri_wildfire_loss_metric = pd.merge(ca_tract_county, cri_wildfire_loss, on='county', how='left')
cri_wildfire_loss_metric

,USCB_GEOID,county,damaged_destroyed_structures,total_fatalities,average_damaged_destroyed_structures,average_fatalities
0,06085504321,santa clara,175.0,0.0,13.0,0.0
1,06085504410,santa clara,175.0,0.0,13.0,0.0
2,06085507003,santa clara,175.0,0.0,13.0,0.0
3,06085507004,santa clara,175.0,0.0,13.0,0.0
4,06085502204,santa clara,175.0,0.0,13.0,0.0
...,...,...,...,...,...,...
9124,06059001303,orange,210.0,0.0,16.0,0.0
9125,06059001304,orange,210.0,0.0,16.0,0.0
9126,06059001401,orange,210.0,0.0,16.0,0.0
9127,06013367200,contra costa,53.0,0.0,4.0,0.0
9128,06037578100,los angeles,1908.0,269.0,146.0,20.0

In [17]:
cri_wildfire_structure_loss_metric = cri_wildfire_loss_metric[['USCB_GEOID', 'county', 'average_damaged_destroyed_structures']]
cri_wildfire_fatality_loss_metric = cri_wildfire_loss_metric[['USCB_GEOID', 'county', 'average_fatalities']]

In [18]:
# Saving metric df to .csv file
cri_wildfire_structure_loss_metric.to_csv('climate_wildfire_redbooks_loss_buildings_metric.csv', index=False)
cri_wildfire_fatality_loss_metric.to_csv('climate_wildfire_redbooks_loss_fatalities_metric.csv', index=False)

#### Function call for this metric

In [19]:
@append_metadata
def wildfire_loss_calc(input_csv, export=False, varname=''):
    '''
    Calculates the total number of damaged/destroyed structures and fatalities 
    resulting from wildfires per California county between 2008-2020. The data 
    used to calculate these metrics are sourced from CALFIRE's Redbook data: 
    https://www.fire.ca.gov/our-impact/statistics
  
    Methods
    --------
    Data was stitched together and cleaned by utilizing a California county filter function. 
    Often, entries contained multiple counties where a single fire occured. 
    In these cases, the number of fatalities and affected structures were equally split between the number of
    counties. 
    The number of fatalities and affected structures were summed within each county across the 13 year dataset. 
    Averages were also calculated using the total temporal range of the dataset (13).
    Data were then merged to California tract data, so each tract had the metric values from the county it resides in.

    Parameters
    ------------
    df: string
        the dataframe containing the wildfire losses data
    export: True/False boolean
        False = will not upload resulting df containing CAL CRAI wildfire loss metric to AWS
        True = will upload resulting df containing CAL CRAI wildfire loss metric to AWS
    export_filename: string
        name of the csv file to be uploaded to AWS

    Script
    ------
    climate_wildfire_redbooks_loss.ipynb

    Note
    ------
    This function assumes users have configured the AWS CLI such that their access key / secret key pair are
    stored in ~/.aws/credentials.
    See https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html for guidance.
    '''
    print('Data transformation: convert fire ignition date to year.')
    print('Data transformation: nan values within the data are treated as 0.')
    print('Data transformation: rows that contained multiple counties had their data split equally between each county.')
    print('Data transformation: convert fire ignition date to year.')
    print('Data transformation: misspelled counties were adjusted to correct spelling.')
    print('Data transformation: data were merged to California tracts.')

    if export == True:
        bucket_name = 'ca-climate-index'
        directory = '3_fair_data/index_data'
        export_filename = [input_csv]
        upload_csv_aws(export_filename, bucket_name, directory)

    if export == False:
        print(f'{input_csv} uploaded to AWS.')
 
    '''if os.path.exists(input_csv):
        os.remove(input_csv)'''

In [20]:
input_csvs = ['climate_wildfire_redbooks_loss_fatalities_metric.csv',
               'climate_wildfire_redbooks_loss_buildings_metric.csv']

varnames = ['climate_calfire_wildfire_fatalities','climate_calfire_wildfire_building_loss']

# Process the data and export
for input_csv, varname in zip(input_csvs, varnames):
    print(f'Processing {input_csv} with varname {varname}')
    wildfire_loss_calc(input_csv, export=True, varname='test') #varname

Processing climate_wildfire_redbooks_loss_fatalities_metric.csv with varname climate_calfire_wildfire_fatalities
Processing climate_wildfire_redbooks_loss_buildings_metric.csv with varname climate_calfire_wildfire_building_loss