In [1]:
import pandas as pd
import os
import sys
import math

# suppress pandas purely educational warnings
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

sys.path.append(os.path.expanduser('../../'))

from scripts.utils.file_helpers import pull_csv_from_directory, upload_csv_aws, filter_counties
from scripts.utils.write_metadata import append_metadata

In [2]:
# pull csv from aws
bucket_name = 'ca-climate-index'
aws_dir = '2a_subset/governance/community_preparedness/fema/nfip_community_status/fema_community_status_subset.csv'

pull_csv_from_directory(bucket_name, aws_dir, search_zipped=False)

Saved DataFrame as 'fema_community_status_subset.csv'

In [4]:
community_flood_insurance_data = pd.read_csv('fema_community_status_subset.csv')
print(len(community_flood_insurance_data))
community_flood_insurance_data.head(5)
# os.remove('fema_community_status_subset.csv')

533

,communityIdNumber,communityName,county,state,initialFloodHazardBoundaryMap,initialFloodInsuranceRateMap,currentlyEffectiveMapDate,regularEmergencyProgramDate,tribal,participatingInNFIP,originalEntryDate,classRatingEffectiveDate,classRating,sfhaDiscount,nonSfhaDiscount,lastRefresh
0,60262,SACRAMENTO COUNTY *,SACRAMENTO COUNTY,CA,1975-01-10T00:00:00.000Z,1979-03-15T00:00:00.000Z,02/22/24(>),03/15/79,0,1,1992-10-01T00:00:00.000Z,2017-05-01T00:00:00.000Z,2.0,40%,10%,2023-10-16T01:01:20.073Z
1,60263,"FOLSOM, CITY OF",SACRAMENTO COUNTY,CA,1976-12-03T00:00:00.000Z,1982-01-06T00:00:00.000Z,02/22/24(>),01/06/82,0,1,NaN,NaN,NaN,NaN,NaN,2023-10-16T01:01:20.079Z
2,60264,"GALT, CITY OF",SACRAMENTO COUNTY,CA,1974-05-17T00:00:00.000Z,1981-12-01T00:00:00.000Z,10/20/16,12/01/81,0,1,NaN,NaN,NaN,NaN,NaN,2023-10-16T01:01:20.085Z
3,60266,"SACRAMENTO, CITY OF",SACRAMENTO COUNTY,CA,1975-01-10T00:00:00.000Z,1978-09-15T00:00:00.000Z,02/22/24(>),09/15/78,0,1,1991-10-01T00:00:00.000Z,2021-10-01T00:00:00.000Z,3.0,35%,10%,2023-10-16T01:01:20.093Z
4,60195,MONTEREY COUNTY *,MONTEREY COUNTY,CA,1978-02-21T00:00:00.000Z,1984-01-30T00:00:00.000Z,11/30/23(>),01/30/84,0,1,1991-10-01T00:00:00.000Z,2020-10-01T00:00:00.000Z,5.0,25%,10%,2023-09-19T20:31:30.265Z

In [5]:
community_flood_insurance_data.columns

Index(['communityIdNumber', 'communityName', 'county', 'state',
       'initialFloodHazardBoundaryMap', 'initialFloodInsuranceRateMap',
       'currentlyEffectiveMapDate', 'regularEmergencyProgramDate', 'tribal',
       'participatingInNFIP', 'originalEntryDate', 'classRatingEffectiveDate',
       'classRating', 'sfhaDiscount', 'nonSfhaDiscount', 'lastRefresh'],
      dtype='object')

In [8]:
community_flood_insurance_data.columns = community_flood_insurance_data.columns.str.lower()
community_flood_insurance_data = community_flood_insurance_data.applymap(lambda s: s.lower() if type(s) == str else s)
community_flood_insurance_data['county'] = community_flood_insurance_data['county'].str.replace(' county', '', case=False)

community_flood_insurance_data

,communityidnumber,communityname,county,state,initialfloodhazardboundarymap,initialfloodinsuranceratemap,currentlyeffectivemapdate,regularemergencyprogramdate,tribal,participatinginnfip,originalentrydate,classratingeffectivedate,classrating,sfhadiscount,nonsfhadiscount,lastrefresh
0,60262,sacramento county *,sacramento,ca,1975-01-10t00:00:00.000z,1979-03-15t00:00:00.000z,02/22/24(>),03/15/79,0,1,1992-10-01t00:00:00.000z,2017-05-01t00:00:00.000z,2.0,40%,10%,2023-10-16t01:01:20.073z
1,60263,"folsom, city of",sacramento,ca,1976-12-03t00:00:00.000z,1982-01-06t00:00:00.000z,02/22/24(>),01/06/82,0,1,NaN,NaN,NaN,NaN,NaN,2023-10-16t01:01:20.079z
2,60264,"galt, city of",sacramento,ca,1974-05-17t00:00:00.000z,1981-12-01t00:00:00.000z,10/20/16,12/01/81,0,1,NaN,NaN,NaN,NaN,NaN,2023-10-16t01:01:20.085z
3,60266,"sacramento, city of",sacramento,ca,1975-01-10t00:00:00.000z,1978-09-15t00:00:00.000z,02/22/24(>),09/15/78,0,1,1991-10-01t00:00:00.000z,2021-10-01t00:00:00.000z,3.0,35%,10%,2023-10-16t01:01:20.093z
4,60195,monterey county *,monterey,ca,1978-02-21t00:00:00.000z,1984-01-30t00:00:00.000z,11/30/23(>),01/30/84,0,1,1991-10-01t00:00:00.000z,2020-10-01t00:00:00.000z,5.0,25%,10%,2023-09-19t20:31:30.265z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
528,60056,"selma, city of",fresno,ca,1974-05-24t00:00:00.000z,2001-07-19t00:00:00.000z,02/18/09,05/24/75,0,0,NaN,NaN,NaN,NaN,NaN,2023-09-19t20:33:43.169z
529,60249,"coachella, city of",riverside,ca,1974-05-17t00:00:00.000z,1980-09-30t00:00:00.000z,03/06/18,03/07/18(s),0,0,NaN,NaN,NaN,NaN,NaN,2023-09-19t20:33:43.174z
530,60436,"trinidad, city of",humboldt,ca,1976-05-14t00:00:00.000z,2016-11-04t00:00:00.000z,06/21/17,05/14/77,0,0,NaN,NaN,NaN,NaN,NaN,2023-09-19t20:33:43.181z
531,60447,"gustine, city of",merced,ca,NaN,2008-12-02t00:00:00.000z,12/02/08,12/02/09,0,0,NaN,NaN,NaN,NaN,NaN,2023-09-19t20:33:43.188z
532,60634,mariposa county *,mariposa,ca,1977-11-29t00:00:00.000z,1990-09-05t00:00:00.000z,09/25/09,11/29/78,0,0,NaN,NaN,NaN,NaN,NaN,2023-09-19t20:33:43.193z

In [9]:
filtered_community_flood_insurance = community_flood_insurance_data[['county', 'participatinginnfip', 'tribal']]
filtered_community_flood_insurance

         county  participatinginnfip  tribal
0    sacramento                    1       0
1    sacramento                    1       0
2    sacramento                    1       0
3    sacramento                    1       0
4      monterey                    1       0
..          ...                  ...     ...
528      fresno                    0       0
529   riverside                    0       0
530    humboldt                    0       0
531      merced                    0       0
532    mariposa                    0       0

[533 rows x 3 columns]

## Check county entries
* no rows omitted

In [13]:
county_community_flood_insurance, omitted_rows = filter_counties(filtered_community_flood_insurance, 'county')

## Check specific county rows to verify percentage calculation

In [19]:
fresno = county_community_flood_insurance[community_flood_insurance_data['county'] == 'fresno']
fresno

     county  participatinginnfip  tribal
38   fresno                    1       0
39   fresno                    1       0
40   fresno                    1       0
41   fresno                    1       0
42   fresno                    1       0
43   fresno                    1       0
44   fresno                    1       0
45   fresno                    1       0
46   fresno                    1       0
47   fresno                    1       0
48   fresno                    1       0
49   fresno                    1       0
513  fresno                    1       0
526  fresno                    1       0
528  fresno                    0       0

In [20]:
# Group by county and calculate the percentage of participation
grouped_community_flood_insurance = county_community_flood_insurance.groupby('county').agg(
    participation_percentage=('participatinginnfip', lambda x: x.mean() * 100),
                               tribal_sum=('tribal', 'sum')
                               ).reset_index()

grouped_community_flood_insurance

             county  participation_percentage  tribal_sum
0           alameda                100.000000           0
1            alpine                100.000000           0
2            amador                100.000000           0
3             butte                100.000000           0
4         calaveras                100.000000           0
5            colusa                100.000000           0
6      contra costa                100.000000           0
7         del norte                100.000000           0
8         el dorado                100.000000           0
9            fresno                 93.333333           0
10            glenn                100.000000           0
11         humboldt                 87.500000           0
12         imperial                100.000000           0
13             inyo                100.000000           0
14             kern                100.000000           0
15            kings                100.000000           0
16             lake                100.000000           1
17           lassen                100.000000           0
18      los angeles                100.000000           0
19           madera                100.000000           0
20            marin                100.000000           0
21         mariposa                  0.000000           0
22        mendocino                100.000000           0
23           merced                 85.714286           0
24            modoc                100.000000           0
25             mono                100.000000           0
26         monterey                100.000000           0
27             napa                100.000000           0
28           nevada                100.000000           0
29           orange                100.000000           0
30           placer                100.000000           0
31           plumas                100.000000           0
32        riverside                 96.666667           1
33       sacramento                100.000000           0
34       san benito                100.000000           0
35   san bernardino                100.000000           1
36        san diego                100.000000           0
37    san francisco                100.000000           0
38      san joaquin                100.000000           0
39  san luis obispo                100.000000           0
40        san mateo                100.000000           0
41    santa barbara                100.000000           0
42      santa clara                100.000000           0
43       santa cruz                100.000000           0
44           shasta                100.000000           0
45           sierra                100.000000           0
46         siskiyou                100.000000           0
47           solano                100.000000           0
48           sonoma                100.000000           0
49       stanislaus                100.000000           0
50           sutter                100.000000           0
51           tehama                100.000000           0
52          trinity                100.000000           0
53           tulare                100.000000           0
54         tuolumne                100.000000           0
55          ventura                100.000000           0
56             yolo                100.000000           0
57             yuba                100.000000           0

Fema Policy metric

In [ ]:
# pull csv from aws
bucket_name = 'ca-climate-index'
aws_dir = '1_pull_data/governance/personal_preparedness/fema/fema_fima_nfip_policies/fema_flood_redacted_policies.csv'

pull_csv_from_directory(bucket_name, aws_dir, search_zipped=False)