### This notebook calculates the emergency performance grant metric sourced from FEMA
* Total amount of emergency performance grant funding recieved per CA county between 2014-2022

In [1]:
import pandas as pd
import os
import sys
import math

# suppress pandas purely educational warnings
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

sys.path.append(os.path.expanduser('../../'))

from scripts.utils.file_helpers import pull_csv_from_directory, upload_csv_aws, filter_counties
from scripts.utils.write_metadata import append_metadata

In [2]:
# pull csv from aws
bucket_name = 'ca-climate-index'
aws_dir = '2a_subset/governance/community_preparedness/fema/emergency_management_performance_grants/'

pull_csv_from_directory(bucket_name, aws_dir, search_zipped=False)

Saved DataFrame as 'fema_emergency_management_grants_subset.csv'

In [3]:
# read in FEMA emergency performance grants data
emergency_grants_data = pd.read_csv('fema_emergency_management_grants_subset.csv')
print(len(emergency_grants_data))
emergency_grants_data.head(5)
os.remove('fema_emergency_management_grants_subset.csv')

1280

In [4]:
emergency_grants_data.head()

,id,reportingPeriod,state,legalAgencyName,projectType,projectStartDate,projectEndDate,nameOfProgram,fundingAmount
0,1f318b75-85d7-4be0-bc13-a15358d94810,2014 Close-Out,California,EM- Tule River Tribe,Develop/enhance interoperable communications s...,2014-12-01T00:00:00.000Z,2015-03-01T00:00:00.000Z,EMPG,16345.0
1,fcdcdff4-96a5-40ea-87fa-3b583aaa8f2e,2014 Close-Out,California,EM-Agua Caliente Band of Cahuilla Indians,Establish/enhance sustainable homeland securit...,2014-09-01T00:00:00.000Z,2015-08-01T00:00:00.000Z,EMPG,17500.0
2,ce196d31-8065-4413-8c4a-528353812ff6,2014 Close-Out,California,OA-Alameda County,Establish / enhance citizen awareness of emerg...,2014-10-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,452545.0
3,3df463ec-5632-440a-bbb2-1f6ac8e9df55,2014 Close-Out,California,OA-Alpine County,Administer and manage the Homeland Security Gr...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,23496.0
4,93c01d7e-9ce3-4a31-8b2e-38bc61cc943f,2014 Close-Out,California,OA-Alpine County,Develop / enhance homeland security / emergenc...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,21403.0

In [5]:
# Create a new column 'county' by extracting characters after the first '-'
emergency_grants_data['county'] = emergency_grants_data['legalAgencyName'].str.split('-').str[1]

# Remove any mention of 'county' within the legalAgencyName column
emergency_grants_data['county'] = emergency_grants_data['county'].str.replace(' county', '', case=False)
emergency_grants_data['county'] = emergency_grants_data['county'].str.replace(' city/county', '', case=False)
emergency_grants_data['county'] = emergency_grants_data['county'].str.replace(', california', '', case=False)

# Drop any leading or trailing whitespace from the 'county' column
emergency_grants_data['county'] = emergency_grants_data['county'].str.strip()

# Display the modified DataFrame
emergency_grants_data.head()

,id,reportingPeriod,state,legalAgencyName,projectType,projectStartDate,projectEndDate,nameOfProgram,fundingAmount,county
0,1f318b75-85d7-4be0-bc13-a15358d94810,2014 Close-Out,California,EM- Tule River Tribe,Develop/enhance interoperable communications s...,2014-12-01T00:00:00.000Z,2015-03-01T00:00:00.000Z,EMPG,16345.0,Tule River Tribe
1,fcdcdff4-96a5-40ea-87fa-3b583aaa8f2e,2014 Close-Out,California,EM-Agua Caliente Band of Cahuilla Indians,Establish/enhance sustainable homeland securit...,2014-09-01T00:00:00.000Z,2015-08-01T00:00:00.000Z,EMPG,17500.0,Agua Caliente Band of Cahuilla Indians
2,ce196d31-8065-4413-8c4a-528353812ff6,2014 Close-Out,California,OA-Alameda County,Establish / enhance citizen awareness of emerg...,2014-10-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,452545.0,Alameda
3,3df463ec-5632-440a-bbb2-1f6ac8e9df55,2014 Close-Out,California,OA-Alpine County,Administer and manage the Homeland Security Gr...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,23496.0,Alpine
4,93c01d7e-9ce3-4a31-8b2e-38bc61cc943f,2014 Close-Out,California,OA-Alpine County,Develop / enhance homeland security / emergenc...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,21403.0,Alpine

In [6]:
# Extract only the year from the 'reportingPeriod' column and place into new 'year' column
emergency_grants_data['year'] = emergency_grants_data['reportingPeriod'].str.extract(r'(\d{4})')
emergency_grants_data['year'] = emergency_grants_data['year'].str.replace('-01-01', '', case=False)

emergency_grants_data.head(5)

,id,reportingPeriod,state,legalAgencyName,projectType,projectStartDate,projectEndDate,nameOfProgram,fundingAmount,county,year
0,1f318b75-85d7-4be0-bc13-a15358d94810,2014 Close-Out,California,EM- Tule River Tribe,Develop/enhance interoperable communications s...,2014-12-01T00:00:00.000Z,2015-03-01T00:00:00.000Z,EMPG,16345.0,Tule River Tribe,2014
1,fcdcdff4-96a5-40ea-87fa-3b583aaa8f2e,2014 Close-Out,California,EM-Agua Caliente Band of Cahuilla Indians,Establish/enhance sustainable homeland securit...,2014-09-01T00:00:00.000Z,2015-08-01T00:00:00.000Z,EMPG,17500.0,Agua Caliente Band of Cahuilla Indians,2014
2,ce196d31-8065-4413-8c4a-528353812ff6,2014 Close-Out,California,OA-Alameda County,Establish / enhance citizen awareness of emerg...,2014-10-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,452545.0,Alameda,2014
3,3df463ec-5632-440a-bbb2-1f6ac8e9df55,2014 Close-Out,California,OA-Alpine County,Administer and manage the Homeland Security Gr...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,23496.0,Alpine,2014
4,93c01d7e-9ce3-4a31-8b2e-38bc61cc943f,2014 Close-Out,California,OA-Alpine County,Develop / enhance homeland security / emergenc...,2014-07-01T00:00:00.000Z,2015-06-01T00:00:00.000Z,EMPG,21403.0,Alpine,2014

In [7]:
emergency_grants_data['year'] = emergency_grants_data['reportingPeriod'].str.extract(r'(\d{4})')

# Display unique years
unique_years = emergency_grants_data['year'].unique()
print(unique_years)

['2014' '2016' '2017' '2018' '2019' '2020' '2021' '2022']

In [8]:
# Isolate desired columns for CRI metric
cleaned_emergency_grants = emergency_grants_data[['county', 'year','fundingAmount']]
print(len(cleaned_emergency_grants))
cleaned_emergency_grants.head(10)

1280

                                   county  year  fundingAmount
0                        Tule River Tribe  2014        16345.0
1  Agua Caliente Band of Cahuilla Indians  2014        17500.0
2                                 Alameda  2014       452545.0
3                                  Alpine  2014        23496.0
4                                  Alpine  2014        21403.0
5                                  Alpine  2014        21873.0
6                                  Alpine  2014        37652.0
7                                  Amador  2014        97376.0
8                                   Butte  2014          918.0
9                                   Butte  2014        97997.0

In [9]:
# call filter_counties function and output county results as filtered_df and the omitted results as omitted_df
filtered_df, omitted_df = filter_counties(cleaned_emergency_grants, 'county')

In [10]:
# look at the skipped over rows
print(len(omitted_df))
omitted_df

28

                                                 county  year  fundingAmount
0                                      Tule River Tribe  2014        16345.0
1                Agua Caliente Band of Cahuilla Indians  2014        17500.0
119   CA California Governor's Office of Emergency S...  2014     13036747.0
120              Agua Caliente Band of Cahuilla Indians  2016        21074.0
121                                 Blue Lake Rancheria  2016        99063.0
122                                 Blue Lake Rancheria  2016        18623.0
123                                 Blue Lake Rancheria  2016         1200.0
124                                 Blue Lake Rancheria  2016         5180.0
182                      Rincon Band of Luiseno Indians  2016         8500.0
244   CA California Governor's Office of Emergency S...  2016     13113306.0
252                                 Blue Lake Rancheria  2017       100377.0
253                                 Blue Lake Rancheria  2017         6648.0
374   CA California Governor's Office of Emergency S...  2017     12867556.0
375                            California State Library  2017       110409.0
386                                 Blue Lake Rancheria  2018        33358.0
525   CA California Governor's Office of Emergency S...  2018     13025132.0
532                                 Blue Lake Rancheria  2019       140426.0
533                                 Blue Lake Rancheria  2019        12500.0
688   CA California Governor's Office of Emergency S...  2019     12630830.0
693                      Barona Band of Mission Indians  2020       101447.0
723                                  Hoopa Valley Tribe  2020        89551.0
724                                  Hoopa Valley Tribe  2020         7000.0
854   CA California Governor's Office of Emergency S...  2020     12854471.0
862                                 Blue Lake Rancheria  2021        97800.0
863                                 Blue Lake Rancheria  2021        62732.0
1134  CA California Governor's Office of Emergency S...  2021     12459303.0
1135  CA California Governor's Office of Emergency S...  2021      4250040.0
1279  CA California Governor's Office of Emergency S...  2022     14298199.0

In [11]:
# group the omitted results into total funding over the data date range
total_omitted = omitted_df.groupby(['county', 'year']).agg({'fundingAmount': 'sum'}).reset_index()
aggregated_omitted = total_omitted.groupby(['county']).agg({'fundingAmount': 'sum'}).reset_index()
aggregated_omitted.rename(columns={'fundingAmount': 'tribe_funding_2014_2022'}, inplace=True)
aggregated_omitted.rename(columns={'county': 'tribe'}, inplace=True)

print(len(aggregated_omitted))
aggregated_omitted.head(20)

8

                                               tribe  tribe_funding_2014_2022
0             Agua Caliente Band of Cahuilla Indians                  38574.0
1                     Barona Band of Mission Indians                 101447.0
2                                Blue Lake Rancheria                 577907.0
3  CA California Governor's Office of Emergency S...              108535584.0
4                           California State Library                 110409.0
5                                 Hoopa Valley Tribe                  96551.0
6                     Rincon Band of Luiseno Indians                   8500.0
7                                   Tule River Tribe                  16345.0

#### Search through to find which county each of these tribes reside in and made a dictionary to attribute these tribes to a county
* tribe names will be retained as a separate column (along with their independent funding values)

In [12]:
indigenous_to_county_dict = {'Riverside' : 'agua caliente band of cahuilla indians',
                            'San Diego': ['barona band of mission indians', 'rincon band of luiseno indians'],
                            'Humboldt': ['blue lake rancheria', 'hoopa valley tribe'],
                             'Tulare' : 'tule river tribe'
                             }

#### Processing the county filtered data

In [13]:
# Call filter_counties function to omit of some non-county entries
cri_emergency_grants = filtered_df
print(len(cri_emergency_grants))
cri_emergency_grants

1252

       county  year  fundingAmount
2     Alameda  2014       452545.0
3      Alpine  2014        23496.0
4      Alpine  2014        21403.0
5      Alpine  2014        21873.0
6      Alpine  2014        37652.0
...       ...   ...            ...
1274  Ventura  2022        20000.0
1275  Ventura  2022       216673.0
1276  Ventura  2022        11250.0
1277     Yolo  2022       181008.0
1278     Yuba  2022       145448.0

[1252 rows x 3 columns]

In [14]:
# Group the DataFrame by 'county' and 'year', then sum the 'funding amount'
cri_emergency_grants = cri_emergency_grants.groupby(['county', 'year']).agg({'fundingAmount': 'sum'}).reset_index()

print(len(cri_emergency_grants))
cri_emergency_grants.head(5)

460

    county  year  fundingAmount
0  Alameda  2014       452545.0
1  Alameda  2016       455793.0
2  Alameda  2017       459407.0
3  Alameda  2018       460021.0
4  Alameda  2019       460021.0

In [15]:
# Group the data further by just county and sum the funding recieved for each county from 2014-2022 (minus 2015)
cri_emergency_grants_total_county = cri_emergency_grants.groupby(['county']).agg({'fundingAmount': 'sum'}).reset_index()
cri_emergency_grants_total_county.rename(columns={'fundingAmount': 'county_funding_2014_2022'}, inplace=True)

print(len(cri_emergency_grants_total_county))
cri_emergency_grants_total_county.head(5)

58

      county  county_funding_2014_2022
0    Alameda                 3835219.0
1     Alpine                 1041123.0
2     Amador                  968348.0
3      Butte                 1361817.0
4  Calaveras                 1110376.0

#### Assigning the tribes to their corresponding county from the dictionary above

In [16]:
# Preprocess the dictionary to ensure all values are strings
processed_dict = {}
for county, tribes in indigenous_to_county_dict.items():
    if isinstance(tribes, list):
        processed_dict[county] = ', '.join(tribes)
    else:
        processed_dict[county] = tribes

# Map the processed dictionary to the DataFrame
cri_emergency_grants_total_county['tribe'] = cri_emergency_grants_total_county['county'].map(processed_dict)

# Display the DataFrame
# cri_emergency_grants_total_county

#### Manually adding the tribal funding values based on the county they reside in

In [17]:
cri_emergency_grants_total_county['tribe_funding_2014_2022'] = 0

# Define the specific values you want to add based on the county
specific_values = {
    'Riverside': 38574.0,
    'San Diego': 109947.0,
    'Humboldt' : 674458.0,
    'Tulare' : 16345.0
}

# Iterate over the specific_values dictionary and assign values to the 'tribe_funding_within_county' column based on the county
for county, value in specific_values.items():
    cri_emergency_grants_total_county.loc[cri_emergency_grants_total_county['county'] == county, 'tribe_funding_2014_2022'] = value

# Display the resulting DataFrame
cri_emergency_grants_total_county.head(5)

      county  county_funding_2014_2022 tribe  tribe_funding_2014_2022
0    Alameda                 3835219.0   NaN                        0
1     Alpine                 1041123.0   NaN                        0
2     Amador                  968348.0   NaN                        0
3      Butte                 1361817.0   NaN                        0
4  Calaveras                 1110376.0   NaN                        0

#### Creating a total funding column by adding the county funding values with the tribe funding values

In [18]:
cri_emergency_grants_total_county['total_funding'] = cri_emergency_grants_total_county['county_funding_2014_2022'] + cri_emergency_grants_total_county['tribe_funding_2014_2022']

In [19]:
cri_emergency_grants_total_county.head(5)

,county,county_funding_2014_2022,tribe,tribe_funding_2014_2022,total_funding
0,Alameda,3835219.0,NaN,0,3835219.0
1,Alpine,1041123.0,NaN,0,1041123.0
2,Amador,968348.0,NaN,0,968348.0
3,Butte,1361817.0,NaN,0,1361817.0
4,Calaveras,1110376.0,NaN,0,1110376.0

In [20]:
county_tract = "s3://ca-climate-index/0_map_data/ca_tract_county_population_2021.csv"
ca_county_tract = pd.read_csv(county_tract)
ca_county_tract = ca_county_tract.rename(columns={'Census Tract': 'census_tract', 'County':'county'})
ca_county_tract = ca_county_tract.drop(columns={'Unnamed: 0', 'COUNTYFP', 'Total Population 2021'})
ca_county_tract

      census_tract        county
0       6085504321   Santa Clara
1       6085504410   Santa Clara
2       6085507003   Santa Clara
3       6085507004   Santa Clara
4       6085502204   Santa Clara
...            ...           ...
9124    6059001303        Orange
9125    6059001304        Orange
9126    6059001401        Orange
9127    6013367200  Contra Costa
9128    6037578100   Los Angeles

[9129 rows x 2 columns]

In [22]:
merged_emergency_grants = pd.merge(ca_county_tract,cri_emergency_grants_total_county, on='county', how='left')
merged_emergency_grants = merged_emergency_grants.drop(columns={'county_funding_2014_2022','tribe','tribe_funding_2014_2022'})
merged_emergency_grants = merged_emergency_grants.rename(columns={'total_funding':'total_emergency_management_funding'})

merged_emergency_grants

      census_tract        county  total_emergency_management_funding
0       6085504321   Santa Clara                           4309742.0
1       6085504410   Santa Clara                           4309742.0
2       6085507003   Santa Clara                           4309742.0
3       6085507004   Santa Clara                           4309742.0
4       6085502204   Santa Clara                           4309742.0
...            ...           ...                                 ...
9124    6059001303        Orange                           6428182.0
9125    6059001304        Orange                           6428182.0
9126    6059001401        Orange                           6428182.0
9127    6013367200  Contra Costa                           2720086.0
9128    6037578100   Los Angeles                          18281307.0

[9129 rows x 3 columns]

In [23]:
# Saving metric df to .csv file
merged_emergency_grants.to_csv('governance_emergency_management_metric.csv')

### Function call for this metric

In [24]:
@append_metadata
def calc_emergency_management_upload(input_csv, export=False, varname=''):
    '''
    Uploads the csv file containing the total amount of emergency performance grant funding received per CA 
    county between 2014-2022 from FEMA: 
    https://www.fema.gov/openfema-data-page/emergency-management-performance-grants-v2

    Methods
    -------
    Data was cleaned to isolate funding for California counties and Indigenous tribes. 
    Tribe names were preserved while their funding was added to the total funding column 
    within the county they reside in.
    Data was grouped by county and year and funding was summed to calculate the final metric.

    Parameters
    ----------
    df: string
        the dataframe containing the initial emergency management performance grant data
    export: True/False boolean
        False = will not upload resulting df containing CAL CRAI emergency management grant metric to AWS
        True = will upload resulting df containing CAL CRAI emergency management grant metric to AWS
    export_filename: string
        name of the csv file to be uploaded to AWS

    Script
    ------
    governance_emergency_management_grants.ipynb

    Note:
    This function assumes users have configured the AWS CLI such that their access key / secret key pair are 
    stored in ~/.aws/credentials.
    See https://docs.aws.amazon.com/cli/latest/userguide/getting-started-install.html for guidance.
    '''
    print('Data transformation: ensure consistent county naming scheme.')
    print('Data transformation: adjust reporting period column to single year.')
    print('Data transformation: isolate desired columns and run "filter_counties" through county column.')
    print('Data transformation: dropping all columns with recipients labeled "Cal OES etc" due to lack of clarity')
    print('Data transformation: group the data by county and sum the funding received for each county from 2014-2022 minus 2015.')
    print('Data transformation: attribute listed Tribes to a county they reside in, while preserving Tribe name and funding.')
    print('Data transformation: add funding from Tribes to the total received per county.')

    bucket_name = 'ca-climate-index'
    directory = '3_fair_data/index_data'
    export_filename = [input_csv]
    
    if export == True:
        upload_csv_aws(export_filename, bucket_name, directory)

    if export == False:
        print(f'{export_filename} uploaded to AWS.')

    if os.path.exists(input_csv):
        os.remove(input_csv)

In [25]:
input_csv = ['governance_emergency_management_metric.csv'
            ]

varnames = [
    'governance_fema_emergency_grants'
]

for csv, var in zip(input_csv, varnames):
    calc_emergency_management_upload(csv, export=True, varname='test')#var)