In [1]:
import pandas as pd
import os
import sys
import boto3
import io
import geopandas as gpd

# suppress pandas purely educational warnings
from warnings import simplefilter
simplefilter(action="ignore", category=pd.errors.PerformanceWarning)

sys.path.append(os.path.expanduser('../../'))
from scripts.utils.file_helpers import pull_gpkg_from_directory, upload_csv_aws
from scripts.utils.write_metadata import append_metadata

In [2]:
# pull csv from aws
bucket_name = 'ca-climate-index'
aws_dir = '2b_reproject/society_economy/social_services/ca_health_human_services/'

pull_gpkg_from_directory(bucket_name, aws_dir)

Saved GeoPackage as 'society_hrsa_mental_care_shortage.gpkg' locally
Saved GeoPackage as 'society_hrsa_primary_care_shortage.gpkg' locally
Saved GeoPackage as 'society_hrsa_narcotic_support.gpkg' locally

In [3]:
mental_healthcare_shortage_data = gpd.read_file('society_hrsa_mental_care_shortage.gpkg')
primary_healthcare_shortage_data = gpd.read_file('society_hrsa_primary_care_shortage.gpkg')
narcotic_support_data = gpd.read_file('society_hrsa_narcotic_support.gpkg')

In [23]:
narcotic_support_data.columns
primary_healthcare_shortage_data.columns
mental_healthcare_shortage_data.columns

Index(['OBJECTID', 'County', 'Licensee', 'License__', 'DBA', 'OTP_CA10',
       'Address', 'City', 'State', 'Program_Zi', 'Phone_Numb', 'Total_Slot',
       'Operating_', 'Dispensing', 'Weekend_Ho', 'Weekend_Di', 'Program_Di',
       'Medical_Di', 'Latitude', 'Longitude', 'CountyName', 'USCB_STATEFP',
       'USCB_COUNTYFP', 'USCB_TRACTCE', 'USCB_GEOID', 'USCB_NAME',
       'USCB_NAMELSAD', 'USCB_MTFCC', 'USCB_FUNCSTAT', 'USCB_ALAND',
       'USCB_AWATER', 'USCB_INTPTLAT', 'USCB_INTPTLON', 'geometry'],
      dtype='object')

In [25]:
relevant_columns = [
                    'HpsScore',
                    'CntFips'
                    ]

In [34]:
mental_healthcare_shortage = mental_healthcare_shortage_data[relevant_columns]
primary_healthcare_shortage = primary_healthcare_shortage_data[relevant_columns]

In [9]:
narcotic_columns = ['County',
                    'DBA',
                    'OTP_CA10',
                    'geometry'
                    ]
narcotic_support = narcotic_support_data[narcotic_columns]
narcotic_support = narcotic_support.rename(columns={'County': 'countyfp'})

# Ensure all entries in 'County' column are three digits
narcotic_support['countyfp'] = narcotic_support['countyfp'].astype(str).str.zfill(3)
narcotic_support

,countyfp,DBA,OTP_CA10,geometry
0,001,N/A,249M,POINT (-121.88414 37.71620)
1,001,N/A,309M,POINT (-122.10225 37.68718)
2,001,BAART Programs Oakland,186M,POINT (-122.24830 37.79120)
3,001,BAART Programs Oakland,186M,POINT (-122.24830 37.79120)
4,001,MedMark Treatment Centers - Hayward,304M,POINT (-122.08032 37.66542)
...,...,...,...,...
177,056,N/A,298M,POINT (-119.06645 34.35216)
178,056,N/A,236M,POINT (-118.78578 34.27040)
179,056,N/A,386M,POINT (-119.22469 34.27695)
180,057,N/A,398M,POINT (-121.57790 38.57071)
181,056,N/A,174M,POINT (-119.17812 34.17968)

In [10]:
# Columns to check for duplicates
selected_columns = ['OTP_CA10', 'geometry']

# Check for duplicates
duplicates = narcotic_support.duplicated(subset=selected_columns, keep=False)

# Count duplicates
duplicate_count = duplicates.sum()

# Filter out the duplicate rows for display
duplicate_rows = narcotic_support[duplicates]

print(f"Number of duplicate entries in columns {selected_columns}: {duplicate_count}")
print("Duplicate rows:")
display(duplicate_rows)

# Drop duplicates, keeping the first occurrence
narcotic_support_unique_values = narcotic_support.drop_duplicates(subset=selected_columns, keep='first')

Number of duplicate entries in columns ['OTP_CA10', 'geometry']: 19
Duplicate rows:

,countyfp,DBA,OTP_CA10,geometry
2,001,BAART Programs Oakland,186M,POINT (-122.24830 37.79120)
3,001,BAART Programs Oakland,186M,POINT (-122.24830 37.79120)
62,019,BAART Programs Lynwood,205M,POINT (-118.18875 33.91724)
63,019,BAART Programs Lynwood,205M,POINT (-118.18875 33.91724)
75,019,BAART Programs Boyle Heights,279M,POINT (-118.21035 34.06239)
76,019,BAART Programs Boyle Heights,279M,POINT (-118.21035 34.06239)
108,034,BAART Programs Carmicheal,293M,POINT (-121.32939 38.61252)
109,034,BAART Programs Carmicheal,293M,POINT (-121.32939 38.61252)
110,034,BAART Programs Norwood,274M,POINT (-121.45857 38.63813)
111,034,BAART Programs Norwood,274M,POINT (-121.45857 38.63813)
133,038,San Francisco General Hospital Pharmacy,098M,POINT (-122.40493 37.75558)
134,038,Positive Health Program,098M,POINT (-122.40493 37.75558)
135,038,Opiate Treatment Outpatient Program,098M,POINT (-122.40493 37.75558)
150,041,BAART Programs San Mateo,330M,POINT (-122.16038 37.46668)
151,041,BAART Programs San Mateo,330M,POINT (-122.16038 37.46668)
172,054,BAART Programs Visalia,344M,POINT (-119.29132 36.31577)
173,054,BAART Programs Visalia,344M,POINT (-119.29132 36.31577)
175,054,BAART Programs Porterville,388M,POINT (-119.01443 36.06859)
176,054,BAART Programs Porterville,388M,POINT (-119.01443 36.06859)

In [11]:
narcotic_support_unique = narcotic_support_unique_values.drop(columns='countyfp')
narcotic_support_unique

                                     DBA OTP_CA10                     geometry
0                                    N/A     249M  POINT (-121.88414 37.71620)
1                                    N/A     309M  POINT (-122.10225 37.68718)
2                 BAART Programs Oakland     186M  POINT (-122.24830 37.79120)
4    MedMark Treatment Centers - Hayward     304M  POINT (-122.08032 37.66542)
5                                    N/A     354M  POINT (-122.16715 37.73928)
..                                   ...      ...                          ...
177                                  N/A     298M  POINT (-119.06645 34.35216)
178                                  N/A     236M  POINT (-118.78578 34.27040)
179                                  N/A     386M  POINT (-119.22469 34.27695)
180                                  N/A     398M  POINT (-121.57790 38.57071)
181                                  N/A     174M  POINT (-119.17812 34.17968)

[172 rows x 3 columns]

In [30]:
# read in CA census tiger file
census_shp_dir = "s3://ca-climate-index/0_map_data/2022_tiger_census_tract/"
ca_boundaries = gpd.read_file(census_shp_dir)

# Create a copy of the relevant columns from ca_boundaries
filtered_ca_boundaries = ca_boundaries[['GEOID', 'COUNTYFP']].copy()

# Rename the 'GEOID' column to 'tract'
filtered_ca_boundaries.rename(columns={'GEOID': 'tract', 'COUNTYFP':'CntFips'}, inplace=True)

# Remove the first character from the 'tract' column
filtered_ca_boundaries['tract'] = filtered_ca_boundaries['tract'].str[1:]

# Display the resulting DataFrame
filtered_ca_boundaries

           tract CntFips
0     6037137504     037
1     6037138000     037
2     6037139200     037
3     6087120901     087
4     6087120902     087
...          ...     ...
9124  6001444500     001
9125  6001450200     001
9126  6001450300     001
9127  6105000500     105
9128  6037207400     037

[9129 rows x 2 columns]

In [39]:
# read in CA census tiger file
ca_tracts_county_pull = "s3://ca-climate-index/0_map_data/ca_tracts_county.csv"
ca_tracts_county = gpd.read_file(ca_tracts_county_pull)

ca_tracts_county = ca_tracts_county.drop(columns={'field_1', 'geometry'})
ca_tracts_county = ca_tracts_county.rename(columns={'COUNTYFP':'CntFips'})
ca_tracts_county

In [58]:
ca_tracts_county

            TRACT CntFips        County
0     06085504321     085   Santa Clara
1     06085504410     085   Santa Clara
2     06085507003     085   Santa Clara
3     06085507004     085   Santa Clara
4     06085502204     085   Santa Clara
...           ...     ...           ...
9124  06059001303     059        Orange
9125  06059001304     059        Orange
9126  06059001401     059        Orange
9127  06013367200     013  Contra Costa
9128  06037578100     037   Los Angeles

[9129 rows x 3 columns]

In [52]:
mental_healthcare_shortage

     HpsScore CntFips
0          18     103
1          15     103
2          17     103
3          18     103
4          21     039
..        ...     ...
450        18     073
451        13     073
452        19     007
453        18     019
454        18     019

[455 rows x 2 columns]

In [56]:
mental_healthcare_shortage
whut = mental_healthcare_shortage.drop_duplicates(subset=['CntFips','HpsScore'], keep='first')
len(whut)

227

In [57]:
whut

     HpsScore CntFips
0          18     103
1          15     103
2          17     103
4          21     039
5          18     107
..        ...     ...
441        20     087
442        22     095
448        16     025
451        13     073
452        19     007

[227 rows x 2 columns]

In [59]:
merged_df = pd.merge(ca_tracts_county, mental_healthcare_shortage, on='CntFips', how='right')
merged_df = merged_df.drop_duplicates(subset=['CntFips','HpsScore'], keep='first')
len(merged_df)

227

In [60]:
merged_df

              TRACT CntFips      County  HpsScore
0       06103000100     103      Tehama        18
14      06103000100     103      Tehama        15
28      06103000100     103      Tehama        17
56      06039000104     039      Madera        21
90      06107002204     107      Tulare        18
...             ...     ...         ...       ...
259043  06087101100     087  Santa Cruz        20
259113  06095250300     095      Solano        22
269221  06025010102     025    Imperial        16
270019  06073007702     073   San Diego        13
270756  06007001702     007       Butte        19

[227 rows x 4 columns]

In [16]:
# List of GeoDataFrames and their names
gdfs = {
    'mental_healthcare_shortage': mental_healthcare_shortage,
    'primary_healthcare_shortage': primary_healthcare_shortage,
    'narcotic_support_unique': narcotic_support_unique
}

# Ensure the filtered_ca_boundaries has the same CRS as other GeoDataFrames
filtered_ca_boundaries = filtered_ca_boundaries.to_crs(epsg=4269)

# Dictionary to store the resulting GeoDataFrames
result_gdfs = {}

# Loop through each GeoDataFrame, perform the spatial join, and store the result
for name, gdf in gdfs.items():
    # Ensure each GeoDataFrame has the correct CRS
    gdf_crs_corrected = gdf.to_crs(epsg=4269)
    
    # Perform the spatial join
    result_gdf = pd.merge(filtered_ca_boundaries, gdf, how='left', predicate='intersects')
    
    # Store the result in the dictionary with the new name
    result_name = name + '_merge'
    result_gdfs[result_name] = result_gdf

# Print the resulting GeoDataFrames
for name, gdf in result_gdfs.items():
    print(f"{name}:")
    display(gdf)
    print("Here are the duplicated indices.")
    display(gdf[gdf.index.duplicated(keep=False)])
    globals()[name] = gdf.copy()  # Store a copy in globals() to avoid modifying the original DataFrame

mental_healthcare_shortage_tract:

,tract,geometry,countyfp,index_right,HpsScore
0,6037137504,"POLYGON ((-118.58119 34.14318, -118.58099 34.1...",037,NaN,NaN
1,6037138000,"POLYGON ((-118.60573 34.14585, -118.60561 34.1...",037,NaN,NaN
2,6037139200,"POLYGON ((-118.53082 34.18024, -118.52952 34.1...",037,NaN,NaN
3,6087120901,"POLYGON ((-122.04607 37.07105, -122.04505 37.0...",087,NaN,NaN
4,6087120902,"POLYGON ((-122.02513 37.04320, -122.02500 37.0...",087,NaN,NaN
...,...,...,...,...,...
9125,6001450200,"POLYGON ((-121.92582 37.72685, -121.92470 37.7...",001,NaN,NaN
9126,6001450300,"POLYGON ((-121.92929 37.72608, -121.92864 37.7...",001,NaN,NaN
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,64.0,19.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,63.0,14.0
9128,6037207400,"POLYGON ((-118.25317 34.05879, -118.25298 34.0...",037,110.0,12.0

Here are the duplicated indices.

,tract,geometry,countyfp,index_right,HpsScore
110,6067001102,"POLYGON ((-121.48617 38.57591, -121.48593 38.5...",067,377.0,17.0
110,6067001102,"POLYGON ((-121.48617 38.57591, -121.48593 38.5...",067,378.0,21.0
395,6035040400,"POLYGON ((-120.54151 40.47273, -120.54149 40.4...",035,24.0,18.0
395,6035040400,"POLYGON ((-120.54151 40.47273, -120.54149 40.4...",035,25.0,18.0
451,6093001300,"POLYGON ((-123.71917 41.59561, -123.71900 41.5...",093,108.0,15.0
...,...,...,...,...,...
8883,6037532303,"POLYGON ((-118.17174 34.00036, -118.17169 34.0...",037,305.0,21.0
8999,6075017700,"POLYGON ((-122.41931 37.77523, -122.41922 37.7...",075,260.0,19.0
8999,6075017700,"POLYGON ((-122.41931 37.77523, -122.41922 37.7...",075,261.0,17.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,64.0,19.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,63.0,14.0

primary_healthcare_shortage_tract:

,tract,geometry,countyfp,index_right,HpsScore
0,6037137504,"POLYGON ((-118.58119 34.14318, -118.58099 34.1...",037,NaN,NaN
1,6037138000,"POLYGON ((-118.60573 34.14585, -118.60561 34.1...",037,NaN,NaN
2,6037139200,"POLYGON ((-118.53082 34.18024, -118.52952 34.1...",037,NaN,NaN
3,6087120901,"POLYGON ((-122.04607 37.07105, -122.04505 37.0...",087,NaN,NaN
4,6087120902,"POLYGON ((-122.02513 37.04320, -122.02500 37.0...",087,NaN,NaN
...,...,...,...,...,...
9125,6001450200,"POLYGON ((-121.92582 37.72685, -121.92470 37.7...",001,NaN,NaN
9126,6001450300,"POLYGON ((-121.92929 37.72608, -121.92864 37.7...",001,NaN,NaN
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,8.0,19.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,7.0,17.0
9128,6037207400,"POLYGON ((-118.25317 34.05879, -118.25298 34.0...",037,149.0,12.0

Here are the duplicated indices.

,tract,geometry,countyfp,index_right,HpsScore
110,6067001102,"POLYGON ((-121.48617 38.57591, -121.48593 38.5...",067,342.0,16.0
110,6067001102,"POLYGON ((-121.48617 38.57591, -121.48593 38.5...",067,341.0,18.0
451,6093001300,"POLYGON ((-123.71917 41.59561, -123.71900 41.5...",093,189.0,10.0
451,6093001300,"POLYGON ((-123.71917 41.59561, -123.71900 41.5...",093,190.0,19.0
533,6031001402,"POLYGON ((-119.56534 36.10265, -119.56534 36.1...",031,235.0,15.0
...,...,...,...,...,...
8883,6037532303,"POLYGON ((-118.17174 34.00036, -118.17169 34.0...",037,221.0,16.0
8999,6075017700,"POLYGON ((-122.41931 37.77523, -122.41922 37.7...",075,273.0,16.0
8999,6075017700,"POLYGON ((-122.41931 37.77523, -122.41922 37.7...",075,274.0,12.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,8.0,19.0
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,7.0,17.0

narcotic_support_unique_tract:

,tract,geometry,countyfp,index_right,DBA,OTP_CA10
0,6037137504,"POLYGON ((-118.58119 34.14318, -118.58099 34.1...",037,NaN,NaN,NaN
1,6037138000,"POLYGON ((-118.60573 34.14585, -118.60561 34.1...",037,NaN,NaN,NaN
2,6037139200,"POLYGON ((-118.53082 34.18024, -118.52952 34.1...",037,NaN,NaN,NaN
3,6087120901,"POLYGON ((-122.04607 37.07105, -122.04505 37.0...",087,NaN,NaN,NaN
4,6087120902,"POLYGON ((-122.02513 37.04320, -122.02500 37.0...",087,NaN,NaN,NaN
...,...,...,...,...,...,...
9124,6001444500,"POLYGON ((-122.03998 37.52944, -122.03971 37.5...",001,NaN,NaN,NaN
9125,6001450200,"POLYGON ((-121.92582 37.72685, -121.92470 37.7...",001,NaN,NaN,NaN
9126,6001450300,"POLYGON ((-121.92929 37.72608, -121.92864 37.7...",001,NaN,NaN,NaN
9127,6105000500,"POLYGON ((-123.54464 40.59402, -123.54445 40.6...",105,NaN,NaN,NaN
9128,6037207400,"POLYGON ((-118.25317 34.05879, -118.25298 34.0...",037,NaN,NaN,NaN

Here are the duplicated indices.

,tract,geometry,countyfp,index_right,DBA,OTP_CA10
426,6037131801,"POLYGON ((-118.53606 34.20839, -118.53471 34.2...",037,39.0,N/A,191M
426,6037131801,"POLYGON ((-118.53606 34.20839, -118.53471 34.2...",037,40.0,N/A,262M
569,6037552700,"POLYGON ((-118.08251 33.90213, -118.08233 33.9...",037,46.0,N/A,233M
569,6037552700,"POLYGON ((-118.08251 33.90213, -118.08233 33.9...",037,47.0,N/A,259M
694,6037407601,"POLYGON ((-117.95364 34.03836, -117.95360 34.0...",037,45.0,BAART Programs La Puente,238M
694,6037407601,"POLYGON ((-117.95364 34.03836, -117.95360 34.0...",037,44.0,BAART Programs La Puente,230M
1415,6037900804,"POLYGON ((-118.14841 34.71850, -118.14823 34.7...",037,50.0,N/A,240M
1415,6037900804,"POLYGON ((-118.14841 34.71850, -118.14823 34.7...",037,51.0,N/A,261M
1447,6019001500,"POLYGON ((-119.77625 36.70692, -119.77616 36.7...",019,18.0,BAART Programs Cartwright,308M
1447,6019001500,"POLYGON ((-119.77625 36.70692, -119.77616 36.7...",019,17.0,BAART Programs Cartwright,307M
2447,6097152100,"POLYGON ((-122.73113 38.47463, -122.73097 38.4...",097,161.0,N/A,228M
2447,6097152100,"POLYGON ((-122.73113 38.47463, -122.73097 38.4...",097,162.0,Redwood Empire Addiction Program,278M
4369,6067005002,"POLYGON ((-121.44607 38.49611, -121.44588 38.4...",067,105.0,MedMark Treatment Centers - Sacramento,340M
4369,6067005002,"POLYGON ((-121.44607 38.49611, -121.44588 38.4...",067,104.0,Sacramento Treatment Clinic,341M
5448,6013308001,"POLYGON ((-121.81018 37.99804, -121.81016 37.9...",013,7.0,BAART Programs Antioch,138M
5448,6013308001,"POLYGON ((-121.81018 37.99804, -121.81016 37.9...",013,8.0,BAART Programs Antioch,245M
6614,6075012403,"POLYGON ((-122.41771 37.78424, -122.41607 37.7...",075,129.0,BAART Programs Turk,220M
6614,6075012403,"POLYGON ((-122.41771 37.78424, -122.41607 37.7...",075,128.0,BAART Programs Turk,100M
6622,6075017604,"POLYGON ((-122.41478 37.77874, -122.41472 37.7...",075,127.0,BAART Programs Market,222M
6622,6075017604,"POLYGON ((-122.41478 37.77874, -122.41472 37.7...",075,126.0,BAART Programs Market,099M
7016,6037119342,"POLYGON ((-118.45024 34.24023, -118.45024 34.2...",037,41.0,N/A,195M
7016,6037119342,"POLYGON ((-118.45024 34.24023, -118.45024 34.2...",037,42.0,N/A,260M
7069,6037302401,"POLYGON ((-118.26797 34.13873, -118.26758 34.1...",037,30.0,N/A,161M
7069,6037302401,"POLYGON ((-118.26797 34.13873, -118.26758 34.1...",037,31.0,N/A,258M
7139,6037208401,"POLYGON ((-118.27208 34.06389, -118.27149 34.0...",037,48.0,BAART Programs Beverly,020M
7139,6037208401,"POLYGON ((-118.27208 34.06389, -118.27149 34.0...",037,49.0,BAART Programs Beverly,248M
7674,6059011300,"POLYGON ((-117.93321 33.88183, -117.93321 33.8...",059,90.0,N/A,263M
7674,6059011300,"POLYGON ((-117.93321 33.88183, -117.93321 33.8...",059,89.0,N/A,211M
8181,6037229200,"POLYGON ((-118.26522 34.00069, -118.26085 34.0...",037,38.0,BAART Programs Southeast,221M
8181,6037229200,"POLYGON ((-118.26522 34.00069, -118.26085 34.0...",037,37.0,BAART Programs Southeast,199M
8331,6019000200,"POLYGON ((-119.81306 36.73993, -119.81302 36.7...",019,15.0,BAART Programs E Street,141M
8331,6019000200,"POLYGON ((-119.81306 36.73993, -119.81302 36.7...",019,16.0,BAART BBHS Programs E Street,216M
8784,6019002300,"POLYGON ((-119.80285 36.75488, -119.80234 36.7...",019,14.0,BAART Programs Van Ness,218M
8784,6019002300,"POLYGON ((-119.80285 36.75488, -119.80234 36.7...",019,13.0,BAART Programs Van Ness,005M
8948,6013379000,"POLYGON ((-122.37504 37.93136, -122.37418 37.9...",013,9.0,BAART Program Richmond,095M
8948,6013379000,"POLYGON ((-122.37504 37.93136, -122.37418 37.9...",013,10.0,BAART Program Richmond,244M

In [22]:
# Specify the column name
column_name = 'HpsScore'

primary_healthcare_shortage_tract['HpsScore'] = primary_healthcare_shortage_tract['HpsScore'].astype(float)
# Create a boolean mask where True indicates non-null values in the specified column
mask = primary_healthcare_shortage_tract[column_name].notna()


# Filter the DataFrame using the mask
non_null_rows = primary_healthcare_shortage_tract[mask]

# View the filtered DataFrame
non_null_rows

# Calculate the range for 'HpsScore'
hps_score_min = non_null_rows['HpsScore'].min()
hps_score_max = non_null_rows['HpsScore'].max()

# Print the range
print(f"Range for 'HpsScore': Min = {hps_score_min}, Max = {hps_score_max}")

Range for 'HpsScore': Min = 3.0, Max = 24.0